body
{background-color: black;}
.überschrift
{text-align: center;
color: #ffffff;
background-color: black;
font: 1em sans-serif;}
.pictures
{background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;}
.ende
{color: #ffffff;
text-align: center;
font: 5px sans-serif;}