body
{background-color: black;
}
.überschrift
{text-align: center;
color: #ffffff;
background-color: black;
font: 1em sans-serif;
}
.pictures
{background-color: #ffffff;
width: 1500px;
height: 800px;
overflow: hidden;
justify-content: center;
align-items: center;
display: flex;
margin: 0 auto;
gap: 40px;
}
.pictures img{
    width: 100%;
    transition: transform 0.3s ease;}
.pictures img:hover{
    transform: scale(1.1);
}
.ende
{color: #ffffff;
text-align: center;
font: 5px sans-serif;}