body
.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background::before {
    content: '';
    background-image:url(../img/upwzc4uvjg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute;
    top: 0px;;
    left:0px;
    bottom: 0px;;
    right:0px;
    opacity: 0.60;
}
h1 {
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    text-align: center;
}